@use 'base/variables' as var;
@use 'base/mixins' as mix;

.form {

    &__grid {
        @include mix.tablet { 
            @include mix.grid(2, var.$separation);
        }
    }

    &__content {
        background-color: var.$primary;
        padding: var.$separation;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__heading {
        color: var.$white;
        text-align: center;
    }

    &__field {
        margin-bottom: 1rem;
    }

    &__label {
        display: block;
        text-transform: uppercase;
        color: var.$white;
        margin: 1rem 0;
    }

    &__input {
        width: 100%;
        padding: 1.5rem;
        border: none;
    }

    &__submit {
        margin-top: 2rem;
        @include mix.button(var.$secondary, var.$white);
        @include mix.tablet { 
            width: 100%;
        }
    }

    &__image-container {
        margin-top: var.$separation;
        display: flex;
        justify-content: center;
    }

    &__image {
        width: 30rem;

        @include mix.desktop { 
            width: 100%;
        }
    }
}