@use 'base/variables' as var;
@use 'base/mixins' as mix;

.steps {
    margin-top: 5rem;

    &__content {
        background-color: var.$primary;
    }

    &__heading {
        text-align: center;
        color: var.$white;

        &--description {
            font-size: 1.8rem;
            display: block;
        }
    }

    &__grid {
        @include mix.tablet { 
            @include mix.grid(3, var.$separation);
        }
    }

    &__image {
        transition-property: transform;
        transition-duration: .3s;

        &:hover {
            transform: rotate(-4deg) scale(1.2);
        }
    }
}