@use 'base/variables' as var;
@use 'base/mixins' as mix;

.favorites {
    background-color: var.$lightGrey;
    padding: var.$separation 0;

    &__heading {
        text-align: center;
        color: var.$secondary;
    }

    &__grid {
        @include mix.tablet { 
            @include mix.grid(2, 4rem);
        }
    }
}